Can't parse sentence

(I've should have added "editorial" in the title - sorry)

I can't parse "This is performed via DTLS [RFC4347](for the data channel) and DTLS-SRTP [RFC5763] keying for SRTP [RFC3711] for the media channel and SCTP over DTLS [I-D.ietf-tsvwg-sctp-dtls-encaps] for data channels.".

is RFC4347 or I-D.ietf-tsvwg-sctp-dtls-encaps used for the data channel(s)?
